* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: black;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in {
    opacity: 1;
}

#bgEmber {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

#bgEmber video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    margin-right: auto;
    margin-left: auto;
    grid-row: 1 / 2;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.288);
    text-align: center;
    font-family:'Eagle Lake';
    color: white;
    text-shadow: 0px 5px 5px rgb(228, 56, 13);
    font-style: italic;
    display: grid;
    align-items: end;
}

#textBanner {
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-weight: 700;
}

.tileArea {
    grid-row: 2 / 3;
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
    grid-auto-rows: 400px;
}

#add {
    grid-area: 2 / 2 / 3 / 3;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: "Eagle Lake";
}

#createChar {
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    background: url(background/Scroll-Wide-1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover
}

#createChar:hover {
    filter: drop-shadow(0px 5px 5px rgb(228, 56, 13));
}

.characterTile {
    /* background-color: rgba(122, 22, 22, 0.719); */
    background-image: url(background/Scroll-Wide-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    border-radius: 10px;
    font-family: "IM Fell English";
    font-size: 1.2rem;
}

.characterTile:hover {
    filter: drop-shadow(0px 5px 5px rgb(228, 56, 13));
}

#addCharacter {
    background-color: rgba(0, 0, 0, 0.397);
    place-self: center;
    padding: 50px;
    border: none;
    border-radius: 20px;
}

input, select {
    font-size: 2rem;
}

.buttons {
    place-self: center;
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.buttons button {
    border: none;
    background: none;
    color: white;
    font-family: "Eagle Lake";
    font-size: 1.3rem;
}

.buttons button:hover {
    text-shadow: 0px 5px 5px red;
}

::backdrop {
    background: rgba(0, 0, 0, 0.432);
    opacity: 0.75;
}

.wanted {
    grid-area: 1 / 1 / 2 / 4 ;
    padding-top: 30px;
    font-size: 3rem;
}

.charName {
    font-family: "Eagle Lake";
}

.charImg {
    grid-area: 2 / 2 / 4 / 3;
    width: 220px;
}

.charName {
    grid-area: 4 / 2 / 5 / 3;
    font-size: 2rem;
    align-self: flex-start;

}

.charRace {
    grid-area: 2 / 1 / 3 / 2;
    align-self: flex-end;
}

.classType {
    grid-area: 3 / 1 / 4 / 2;
    align-self: flex-start;
}

.charRace, .classType{
    justify-self: end;
}

.identity {
    grid-area: 2 / 3 / 3 / 4;
    align-self: flex-end;
}

.bodyType {
    grid-area: 3 / 3 / 4 / 4;
    align-self: flex-start;
}

.identity, .bodyType {
    justify-self: start;
}

.deleteButton {
    background: url(images/x-mark.svg);
    background-size: contain;
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
    grid-area: 3 / 3 / 5 / 4;
    justify-self: start;
    align-self: center;
}

.deleteButton:hover {
    filter: drop-shadow(0px 10px 8px rgb(78, 17, 2));
}

